@model Flight_info

    
@* <form action="/home/add_flight" method="post"> *@
<form method="post">
  <div class="form-row align-items-center"  >
    <div class="col-auto">
     @* <label class="sr-only" for="inlineFormInput">Brand</label> *@
      <input type="text" class="form-control mb-2"  placeholder="Enter AirLine ..." asp-for="Airline">
    </div>
    <div class="col-auto">
      @* <label class="sr-only" for="inlineFormInput">Model</label> *@
      <input type="text" class="form-control mb-2"  placeholder="Enter Flight_Date (mm/dd/yyyy) ..." asp-for="Flight_Date">
    </div>
    <div class="col-auto">
      @* <label class="sr-only" for="inlineFormInput">Price</label> *@
      <input type="text" class="form-control mb-2"  placeholder="Enter Flight_Time ..." asp-for="Flight_Time">
    </div>
    <div class="col-auto">
      @* <label class="sr-only" for="inlineFormInput">Price</label> *@
      <input type="text" class="form-control mb-2"  placeholder="Enter Capacity ..." asp-for="Capacity">
    </div>
    <div class="col-auto">
      @* <label class="sr-only" for="inlineFormInput">Price</label> *@
      <input type="text" class="form-control mb-2"  placeholder="Enter From ..." asp-for="From">
    </div>
    <div class="col-auto">
      @* <label class="sr-only" for="inlineFormInput">Price</label> *@
      <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Enter To ..." asp-for="To">
    </div>
  
    
     
    
    <div class="col-auto">
      <button type="submit" class="btn btn-success mb-2">Add</button>
      @* <h5>@DateTime.Now</h5> *@
    </div>
  </div>
  
</form>
